@import "bootstrap/scss/bootstrap-grid";
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  width: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  background-color: #e4edd9;
  color: #22160b;
}

h1 {
  font-family: obviously, sans-serif;
  font-size: 41px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 93px;
    line-height: 146px;
  }

  nav a {
    font-size: 46px;
    line-height: 47px;
  }
}

nav {
  text-align: center;
  font-family: anca, sans-serif;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 21px;
}

nav a {
  text-decoration: none;
}

.line-separation {
  border: 0.5px solid #22160b;
}

header {
  margin-bottom: 29px;
}

.introduction-title {
  font-family: obviously, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
}

.introduction-title {
  margin-bottom: 30px;
}

.introduction-paragraph {
  font-family: anca, sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 21px;
}

.introduction {
  margin-bottom: 42px;
}

img {
  border: 1px solid #22160b;
}

.intro-img {
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .introduction-title {
    font-size: 53px;
    line-height: 66px;
  }

  .introduction-paragraph {
    font-size: 28px;
    line-height: 29px;
  }

  .intro-img {
    margin-bottom: 48px;
  }

  .introduction {
    margin-bottom: 86px;
  }

  .line-separation {
    border: 1px solid #22160b;
  }

  img {
    border: 2px solid #22160b;
  }
}

h2 {
  font-family: obviously, sans-serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.menu-title {
  margin-top: 25px;
}

h3 {
  font-family: anca, sans-serif;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 30px;
}

.menu-paragraph {
  font-family: anca, sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 21px;
}

.menu {
  border: 1px solid #22160b;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  margin-bottom: 19px;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 64px;
    line-height: 100px;
  }

  .menu-title {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  h3 {
    font-size: 46px;
    line-height: 47px;
    margin-bottom: 42px;
  }

  .menu-paragraph {
    font-size: 42px;
    line-height: 43px;
    margin-bottom: 100px;
  }

  .menu {
    border-top-left-radius: 405px;
    border-top-right-radius: 405px;
    margin-bottom: 62px;
    border: 2px solid #22160b;
  }
}

.button {
  background-color: #e4d7c8;
  border: 1px solid #22160b;
  text-align: center;
  width: 156px;
  padding: 8px 0;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 19px;
  font-family: anca, sans-serif;
}

.button a {
  text-decoration: none;
}

.button-section {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .button {
    width: 290px;
    font-size: 42px;
    line-height: 43px;
    margin-bottom: 85px;
  }
}

.menu-container {
  margin-bottom: 42px;
}

.cats-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cats-img {
  height: 100%;
  width: 100%;
  border: none;
  object-fit: cover;
}

.cats {
  border-top-right-radius: 160px;
  border-top-left-radius: 160px;
  height: 320px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid#22160b;
}

.names {
  border: 1px solid#22160b;
  font-family: obviously, sans-serif;
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
  padding: 13px;
  margin-bottom: 42px;
  text-align: center;
}

.cats-section {
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .names {
    font-size: 19px;
    margin-bottom: 86px;
    border: 2px solid #22160b;
  }

  .cats-title {
    margin-bottom: 39px;
  }

  .cats-section {
    margin-bottom: 86px;
  }

  .cats {
    border: 2px solid #22160b;
  }
}

.shop-wrap {
  background-color: #e4d7c8;
  border-top: 1px solid#22160b;
  border-bottom: 1px solid#22160b;
  padding: 24px 0;
  margin-bottom: 42px;
}

.shop {
  font-family: anca, sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.shop-img {
  border: none;
  object-fit: cover;
}

.shop-img-container {
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
  height: 194px;
  overflow: hidden;
  border: 1px solid#22160b;
}

.button-shop {
  border: 1px solid#22160b;
  padding: 8px 0;
  width: 156px;
}

.button-shop a {
  text-decoration: none;
}

.shop-here {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) {
  .shop {
    font-size: 42px;
    line-height: 43px;
  }

  .button-shop {
    padding: 8px 0;
    width: 290px;
  }

  .shop-paragraph {
    margin-bottom: 120px;
    margin-top: 69px;
  }

  .shop-wrap {
    margin-bottom: 86px;
    border-top: 2px solid#22160b;
    border-bottom: 2px solid#22160b;
  }

  .shop-img-container {
    height: 441px;
    border-top-left-radius: 221px;
    border-top-right-radius: 221px;
    border: 2px solid#22160b;
  }
}

.planning {
  font-family: anca, sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .planning {
    font-size: 42px;
    line-height: 70px;
  }
}

.accroch-container {
  padding: 98px 10px;
}

.accroch-paragraph {
  font-family: obviously, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 40px;
}

.age-limit {
  font-family: anca, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.img-door {
  border: none;
}

@media (min-width: 1024px) {
  .accroch-paragraph {
    font-size: 53px;
    line-height: 66px;
    margin-top: 150px;
  }

  .age-limit {
    font-size: 53px;
    line-height: 66px;
  }
}

.footer-wrap {
  background-color: #e4d7c8;
  border-top: 1px solid#22160b;
}

footer {
  font-family: anca, sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 23px;
  padding: 28px 100px 51px;
}

h4 {
  font-family: obviously, sans-serif;
  font-size: 21px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 27px;
}

span {
  font-size: 23px;
}

.address {
  margin-bottom: 27px;
}

@media (min-width: 1024px) {
  h4 {
    font-size: 41px;
    line-height: 64px;
  }

  footer {
    font-size: 30px;
    line-height: 40px;
  }

  span {
    font-size: 40px;
    line-height: 40px;
  }

  footer {
    padding: 46px 330px 72px;
  }

  .footer-wrap {
    border-top: 2px solid#22160b;
  }
}

.theme {
  background-color: aqua;
}
