@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  width: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  background-color: #e4edd9;
  color: #22160b;
}

h1 {
  font-family: obviously, sans-serif;
  font-size: 41px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 93px;
    line-height: 146px;
  }

  nav {
    font-size: 46px;
    line-height: 47;
  }
}

nav {
  text-align: center;
  font-family: anca, sans-serif;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 9px;
}

nav a {
  text-decoration: none;
}

.line-separation {
  border: 1px solid #22160b;
}

.introduction-title {
  font-family: obviously, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
}

.introduction-title {
  margin-bottom: 18px;
}

.introduction-paragraph {
  font-family: anca, sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 9px;
}

img {
  border: 1px solid #22160b;
}

.intro-img {
  margin-bottom: 18px;
}

@media (min-width: 1024px) {
  .introduction-title {
    font-size: 53px;
    line-height: 66px;
  }

  .introduction-paragraph {
    font-size: 28px;
    line-height: 29px;
  }

  .intro-img {
    margin-bottom: 0;
  }
}

h2 {
  font-family: obviously, sans-serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
}

.menu-title {
  margin-bottom: 30px;
  margin-top: 25px;
}

h3 {
  font-family: anca, sans-serif;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 30px;
}

.menu-paragraph {
  font-family: anca, sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 21px;
}

.menu {
  border: 1px solid #22160b;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  margin-bottom: 7px;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 64px;
    line-height: 100px;
  }

  .menu-title {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  h3 {
    font-size: 46px;
    line-height: 47px;
    margin-bottom: 42px;
  }

  .menu-paragraph {
    font-size: 42px;
    line-height: 43px;
    margin-bottom: 100px;
  }

  .menu {
    border-top-left-radius: 405px;
    border-top-right-radius: 405px;
    margin-bottom: 50px;
  }
}

.button-menu {
  background-color: #e4d7c8;
  border: 1px solid #22160b;
  text-align: center;
  width: 156px;
  padding: 8px 0;
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 19px;
  font-family: anca, sans-serif;
}

.button-menu a {
  text-decoration: none;
}

.button-section {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .button-menu {
    width: 290px;
    font-size: 42px;
    line-height: 43px;
    margin-bottom: 85px;
  }
}
