@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  background-color: #e4edd9;
  color: #22160b;
}

h1 {
  font-family: obviously, sans-serif;
  font-size: 41px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 93px;
    line-height: 146px;
  }

  nav {
    font-size: 46px;
    line-height: 47;
  }
}

nav {
  text-align: center;
  font-family: anca, sans-serif;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 21px;
}

nav a {
  text-decoration: none;
}

.line-separation {
  border: 1px solid #22160b;
}
